.team-member-img {
  height: 300px;
  object-fit: contain;
}
.team-members-section-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255)), url(../../assets/team-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.team-member-description{
  font-size: 13px;
  width: 250px;
}

@media (max-width: 350px) {
  .team-member-img {
    height: 200px;
    object-fit: contain;
  }
  .team-member-description{
    width: 80%;
  }
}
